<!doctype html>

<html lang="ru">

<head>
  <meta charset='utf-8'>
  <title>Book Info</title>
  <style>
    body {
      font-family: 'modern',sans-serif;
      font-weight: 600;
    }
  </style>
</head>

<style>
  .button {
    background-color: #77DD77;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 35px;
  }
</style>

<body>
<div style="text-align: center;">
  <h1>Информация о книге</h1>
  <table align="center" border="1" cellpadding="5">
    <tr><td>Название</td><td th:text="${book_info.name}">Контакт</td></tr>
    <tr><td>Автор</td><td th:text="${book_info.author}">Карл Саган</td></tr>
    <tr><td>Издательство</td><td th:text="${book_info.publishing_house}">Азбука</td></tr>
    <tr><td>Жанр</td><td th:text="${book_info.genre}">Роман</td></tr>
    <tr><td>Дата получения<br>книги библиотекой</td><td th:text="${book_info.date_of_receiving}">01-01-2010</td></tr>
    <tr><td>Количество экземпляров<br>в библиотеке</td><td th:text="${book_info.amount}">10</td></tr>
  </table>
  <br>
<!--  <table align="center" border="1" cellpadding="5">-->
<!--    <tr><td>Описание книги</td></tr>-->
<!--    <tr><td th:text="${book_info.about}">К сожалению описания не существует</td></tr>-->
<!--  </table>-->

  <p>
    Описание книги:
  </p>
  <p th:text="${book_info.about}">Описание книги</p>

  <p>
  <form th:action="@{/book_readers}" method="post">
    <input type="hidden" name="book_name" th:attr="value=${book_info.name}">
    <button type="submit" class="button">Список читателей книги</button>
  </form>
  </p>
  <p>
    <a class="button" th:href="@{/books}">К списку книг</a>
  </p>
  <p>
    <a class="button" th:href="@{/}">На главную</a>
  </p>
</div>
</body>
</html>