<!doctype html>

<html lang="ru">

<head>
    <meta charset='utf-8'>
    <title>Reader Info</title>
    <style>
        body {
            font-family: 'modern',sans-serif;
            font-weight: 600;
        }
    </style>
</head>

<style>
    .button {
        background-color: #77DD77;
        text-align: center;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        display: inline-block;
        font-size: 20px;
        padding: 20px 35px;
    }
</style>

<body>
<div style="text-align: center">
    <h1>Информация о читателе</h1>
    <table align="center" border="1" cellpadding="5">
        <tr><td>Фамилия</td><td th:text="${reader_info.surname}">Иван</td></tr>
        <tr><td>Имя</td><td th:text="${reader_info.name}">Иванович</td></tr>
        <tr><td>Отчество</td><td th:text="${reader_info.patronymic}">Иванов</td></tr>
        <tr><td>Дата рождения</td><td th:text="${reader_info.date_of_birth}">01-01-1970</td></tr>
        <tr><td>Номер читательского<br>билета</td><td th:text="${reader_info.reader_id}">1000000</td></tr>
        <tr><td>Дата регистрации</td><td th:text="${reader_info.card_date}">01-01-1990</td></tr>
        <tr><td>Адрес проживания</td><td th:text="${reader_info.address}">Москва</td></tr>
        <tr><td>Номер телефона</td><td th:text="${reader_info.phone_number}">89100000000</td></tr>
    </table>
    <br>
    <form th:action="@{/update_reader}" method="get">
        <input type="hidden" name="reader_id" th:attr="value=${reader_info.reader_id}">
        <button type="submit" class="button">Обновить информацию о пользователе</button>
    </form>
    <br>
    <form th:action="@{/reader_books}" method="get">
        <input type="hidden" name="reader_surname" th:attr="value=${reader_info.surname}">
        <button type="submit" class="button">Список прочтенных книг</button>
    </form>
    <br>
    <form th:action="@{/readers}" method="get">
        <button type="submit" class="button">К списку читателей</button>
    </form>
    <br>
    <form th:action="@{/}" method="get">
        <button type="submit" class="button">На главную</button>
    </form>
</div>
</body>
</html>