<!doctype html>

<html lang="ru">

<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% end-block %}</title>
  <style>
    body {
      font-family: 'modern',sans-serif;
      font-weight: 600;
    }
  </style>
</head>

<style>
  .button {
    background-color: #77DD77;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 35px;
  }
</style>

<body>
<div style="text-align: center;">
<h1>Читатели</h1>
<table align="center" border="1" cellpadding="5">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Номер читательского билета</th>
    <th>Дата регистрации</th>
    <th>Дата рождения</th>
    <th>Адрес</th>
    <th>Номер телефона</th>
  </tr>
  <tr th:each="rd : ${readerList}">
    <td th:text="${rd.name}">Иван</td>
    <td th:text="${rd.surname}">Иванович</td>
    <td th:text="${rd.patronymic}">Иванов</td>
    <td th:text="${rd.card_number}">1000000</td>
    <td th:text="${rd.card_date}">01-01-1990</td>
    <td th:text="${rd.date_of_birth}">01-01-1970</td>
    <td th:text="${rd.address}">Москва</td>
    <td th:text="${rd.phone_number}">89100000000</td>
  </tr>
</table>
<p>
  <a class="button" href="start_page.html" th:href="@{/}">Назад</a>
</p>
</div>
</body>
</html>