<!doctype html>

<html lang="ru">

<head>
  <meta charset='utf-8'>
  <title>Library</title>
  <style>
    body {
      font-family: 'modern',sans-serif;
      font-weight: 600;
    }
  </style>
</head>

<style>
  .button {
    background-color: #77DD77;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 35px;
  }
</style>

<body>
<div style="text-align: center">
  <h1>Библиотека</h1>


  <br>
  <br>
  <br>
  <form th:action="@{/readers}" method="get">
    <button type="submit" class="button">Читатели</button>
  </form>
  <br>
  <form th:action="@{/books}" method="get">
    <button type="submit" class="button">Книги</button>
  </form></div>
</body>

</html>